let conversation = document.getElementsByClassName("active-conversation")[0]
let form = conversation.getElementsByClassName("new-message")[0]
form.insertAdjacentHTML('beforeBegin', "<div class='col-xs-6 col-xs-offset-6 message-body my-message'><p><%= @message.content %></p></div><div class='col-xs-6 col-xs-offset-6 text-right time'><%= @message.created_at.strftime('%H:%M %d/%m/%Y') %></div>");
form.getElementsByClassName("form-control")[0].value="";
