<div class="container home">
  <div class="row">
    <div class="frontpage">
      <div class="col-xs-4 col-md-offset-2 main-heading">
        <h1> RENT VETTED SYNTHS</h1>
        <p> All the benefits, less of the risk</p>
      </div>
      <div class="col-xs-4 main-image-holder">
       <%= image_tag ("synths.png"), id: "main-image" %>
     </div>
   </div>
 </div>
</div>
