<h3> You have a new message from <%= @user.first_name.capitalize %> </h3>
<p> Regarding the requested booking with <%= @booking.synth.name %> on
  <%= @booking.start_time.strftime("%d/%m/%Y") %> to <%= @booking.end_time.strftime("%d/%m/%Y") %>
</p>

<p> Visit <a href="www.synthsare.co.uk/messages">My Messages</a> to view and respond.</p>
