.synth-nav {
 background: #2F2E2E;
}

.synth-nav a {
  color: white !important;
  //font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.synth-nav a:hover {
  color: #dbdbdb !important;
}

.synth-nav img {
  padding-top:6px;
}
