.about-main {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom:10px;
}

.about-title {
  font-size: 20px;
  font-family: "montserrat";
}

#reveal {
  margin-bottom: 20px;
  margin-top: 20px;
}

