.about-main {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom:10px;
}

.about-main a {
  color: orange;
  opacity: 0.8;
}

.about-main a:hover {
  text-decoration: none;
  opacity: 1;
}

.about-title {
  font-size: 20px;
  font-family: "montserrat";
}

#reveal {
  margin-bottom: 20px;
  margin-top: 20px;
}

