@media only screen and (max-width: 500px) {
  .contact p {
    font-size: 14px;
    margin-left: -8px;
    margin-top: -5px;
  }

  .contact-form textarea {
    width: 200px !important;
  }

  .contact-form input[type="text"] {
    width: 200px !important;
  }

  .btn {
    font-size: 14px;
    padding: 5px;
  }
}
