.synth-banner {
  height:260px;
  z-index: -1;
  position: relative;
}

.synth-banner img {
  height:260px;
  margin-top: -5px;
  padding-top: 0px;
  width:100%;
}

.avatar {
  margin-top: -160px;
  margin-left: 85px;
  float:left;
}

.avatar img {
  border: solid 5px white;
  max-width: 300px;
  object-fit: cover;
}


.synth-titles {
  float:left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}

.synth-body {
 margin-left: 75px;
}
